<h2>Name: <%= @contact.full_name %></h2>
<h4><strong>Email Address: </strong><%= @contact.email %></h4>
<h4><strong>Phone Number: </strong><%= @contact.japanese_number %></h4>
<h4><strong>Groups: </strong>
  <% @contact.groups.each do |group| %>
    <%= group.name %>
  <% end %>
</h4>
<p>Created on: <%= @contact.display_created_time %></p>

<div>&nbsp</div>
<p><%= link_to "Edit this Contact", "/contacts/#{@contact.id}/edit" %></p>
<p><%= link_to "Delete this Contact", "/contacts/#{@contact.id}", method: :delete %></p>
<p><%= link_to "Show all Contacts", "/contacts" %></p>